<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
<div class="student-profile py-4">
	<div class="container">
	  <div class="row">
		<div class="col-lg-4">
		  <div class="card shadow-sm">
			<div class="card-header bg-transparent text-center">
			  <img class="profile_img" src="https://placeimg.com/640/480/arch/any" alt="">
			  <h3><%= name %></h3>
			</div>
			<div class="card-body">
			  <p class="mb-0"><strong class="pr-1">Student ID:</strong>3209919</p>
			  <p class="mb-0"><strong class="pr-1">Student Email:</strong><%= email %></p>
			  <p class="mb-0"><strong class="pr-1">Class:</strong>4</p>
			  <p class="mb-0"><strong class="pr-1">Section:</strong>A</p>
			</div>
		  </div>
		</div>
		<div class="col-lg-8">
		  <div class="card shadow-sm">
			<div class="card-header bg-transparent border-0">
			  <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Student Information</h3>
			</div>
			<div class="card-body pt-0">
			  <table class="table table-bordered">
				<tr>
				  <th width="30%">Roll</th>
				  <td width="2%">:</td>
				  <td>125</td>
				</tr>
				<tr>
				  <th width="30%">Academic Year	</th>
				  <td width="2%">:</td>
				  <td>2020</td>
				</tr>
				<tr>
				  <th width="30%">Gender</th>
				  <td width="2%">:</td>
				  <td>Male</td>
				</tr>
				<tr>
				  <th width="30%">Religion</th>
				  <td width="2%">:</td>
				  <td>Group</td>
				</tr>
				<tr>
				  <th width="30%">blood</th>
				  <td width="2%">:</td>
				  <td>B+</td>
				</tr>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
				</table>
			
		
		<button><a href="/logout">Logout</a></button>
	
</body>
</html>